.funBackgroundGradient {
    background-image: linear-gradient(120deg, #f16e00 0%, #ff7900 100%);
}

.StatCard .svg {
    fill: currentColor;
    padding: 20px;
}

.StatCard .svg:hover {
    fill: #ff7900 !important;
    background-color: white;
    border-radius: 50%;
}
.StatCard .svg:hover svg {
    fill: #ff7900 !important;
    transform: scale(0.9);
}

.elevate:hover {
    box-shadow: 0px 2px 2px 2px rgba(211, 211, 211, 0.836);
    /* padding: 0px 10px; */
}