# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
!/node_modules/ckeditor5-custom-build
/node_modules/*
/.pnp
.pnp.js
challengesolidarite-front.zip
challengesolidarite-front_26_07.zip
ckeditor5-custom-build.zip
build_v2.zip

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
