.ProgressBar-100 {
    position: relative;
    background-color: lightgrey;
    height: 20px;
    /* border-radius: 45px; */
    width: 100%;
}

.ProgressBar-Progress {
    content: "";
    position: absolute;
    top: 0px;
    width: auto;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) !important ;
    height: 20px;
    background-color: #ff7900;
    /* border-radius: 45px; */
}

.ProgressBar {
    position: relative;
}